{% extends "./principal-template.html" %} 

{% block title %}Stiven Pilca{% endblock %} 

{% block body %}
<!--Introduccion-->

<p class="introduction">
  En esta página web encontrarás información corta acerca de algunas películas, entre esta información estará el título, imágen y año de estreno, además tendrás la posiblidad de solicitar que se
  agregue una película que desees rellenando la información solicitada en el formulario de la parte de abajo.<br /><br />
  También podrás encontrar el contenido separado por categorías.
</p>

<!--Tabla de contenidos-->
<h2 class="title" id="index">Tabla de contenidos</h2>
<ul class="content-list">
  <a href="{{url_for('category_blueprint.home', title='Acción')}}">
    <li>Acción</li>
  </a>
  <a href="{{url_for('category_blueprint.home', title='Animación')}}">
    <li>Animación</li>
  </a>
  <a href="{{url_for('category_blueprint.home', title='Ciencia Ficción')}}">
    <li>Ciencia Ficción</li>
  </a>
  <a href="{{url_for('category_blueprint.home', title='Comedia')}}">
    <li>Comedia</li>
  </a>
  <a href="{{url_for('category_blueprint.home', title='Drama')}}">
    <li>Drama</li>
  </a>
  <a href="{{url_for('suggest_blueprint.suggest')}}">
    <li>Sugerencias</li>
  </a>
</ul>






<!--Enlace para regresar al indice-->
<a class="arrow" href="{{url_for('home_blueprint.home')}}">
  <img src="{{url_for('static', filename='img/arrowup.png')}}" />
</a>

{% endblock %}
