<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/camera-movie.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="header">
      <div class="home-button">
        <a href="{{url_for('home_blueprint.home')}}">
          <div class="home-button__image">
            <img src="{{url_for('static', filename='img/camera-movie.png')}}"/>
          </div>
          <span>Peliculas</span>
        </a>
      </div>
    </div>
    <div class="body-container">
      {% block body %}
      {% endblock %}
    </div>
    
  </body>

  <footer>
    <p>&copy; 2024 - Stiven Pilca - Desarrollo de Sistemas de Información</p>
  </footer>
</html>
